@import "../../../node_modules/bulma/bulma.sass"

$fa-font-path: '../assets/fonts'
@import "../../../node_modules/font-awesome/scss/font-awesome.scss"

@import "transitions"

// Bulma buttons have strange margins when all button content is one icon.
.button.is-icon
  width: 35px
  .icon,
  .tag
    margin: 0

body
  background-color: #ffffff
  font-family: "Roboto", "Helvetica", "Arial", sans-serif

.input.is-minimal
  border-top: 0
  border-left: 0
  border-right: 0
  border-radius: 0
  box-shadow: none

// Jsoneditor colors
@import "../../../node_modules/jsoneditor/dist/jsoneditor"
@import 'jsoneditor'

.no-padding
  padding: 0 !important

.card-item
  margin: 4px 0
  border-right: 2px solid transparent
  border-bottom: 1px solid rgba(0, 0, 0, .025)
